
@font-face {
  font-family: "heading-font";
  src: url(../fts/KolkerBrush-Regular.otf);
}
@font-face {
  font-family: "body-font";
  src: url(../fts/TerminessNFM.ttf);
}
@font-face {
  font-family: "title-font";
  src: url(../fts/Braah.ttf);
}
* {
  margin: 0px;
}
body {
  font-family: body-font;
  font-size: 20px;
  text-align: center;
}
h1, h2, h3 {
  color: #5b90ba;
  font-family: heading-font;
  font-weight: normal;
  text-shadow: 0px 2px 3px black, 0px 7px 15px #2c1867;
}
h1 {
  font-size: 9rem;
}
h2 {
  font-size: 3.5rem;
  font-family: title-font;
}
h3 {
  font-size: 2rem;
  font-family: body-font;
}
p {
  margin: 10px 0;
  line-height: 1.5;
}
a {
  color: #5b90ba;
  text-decoration: none;
}
hr {
  border: 4px dashed #b7ebdb;
  margin: 0 auto;
  width: 65%;
}
.top-container {
  background-image: linear-gradient(#000000,#000017);
  background-color: #000016;
  color: #B7EBDB;
  height: 100vh;
  position: relative;
  text-align: center;
}
.top-container h1 {
  padding-top: 10%;
}
.top-container .top-star{
  position: absolute;
  right: 30%;
  top: 2%;
  width: 45%;
}
.top-container .mid-star {
  bottom: 15%;
  position: absolute;
  left: 30%;
  width: 35%;
}
.top-container .forest-img {
  bottom: 3%;
  position: absolute;
  right: 25%;
  width: 55%
}
.top-container hr {
  bottom: 0.2%;
  position: absolute;
  right: 17%;
}
.middle-container{
  background-image: linear-gradient(#000016,#2c1867);
  color: #b7ebdb;
}
.middle-container .profile {
  margin: 0 auto;
  padding: 2% 0;
  width: 65%;
}
.middle-container .profile img {
  margin: 2%;
  width: 15%;
}
.middle-container .skills {
  padding-top: 2.5%;
}
.middle-container .skill-row {
  margin: 2% auto 5%;
  text-align: left;
  width: 65%;
}
.middle-container .skill-row img {
  float: left;
  margin-right: 20px;
  width: 25%;
}
.skill-row {
  clear: both;
}
.middle-container .contact-me {
  padding: 2% 0;
}
.middle-container .contact-me h3 {
  margin-top: 2%;
}
.middle-container .contact-me p {
  margin: 2% 0;
}
.middle-container .contact-me a {
  background-color: #00000060;
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px 16px;
}
.bottom-container {
  background-color: #000016;
  color: #B7EBDB;
  padding: 2% 0 5px;
}
.bottom-container a {
  margin: 0 15px;
}
.bottom-container p {
  margin-top: 3%;
}
